/* General Styles */
body, ul, li, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: Arial, sans-serif;
}

body {
overflow-x: hidden;
  margin: 0;
  color: rgba(255, 255, 255, 1);
}

/* Header Styles */
.header {
  

 top:0px;
 left: 0;
 width: 107%;
 z-index: 0; /* Ensure it stays on top */
 background-color: #fff;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 padding: 10px 20px;
 height: 70px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 100px;
  border: 80px solid 0 2px 5px rgba(0, 0, 0, 0.1);
  
}
/* Make the logo clickable and place it in an invisible box */
.logo-box {
  
  margin-bottom: -25%;
  margin-top: -10%;
  margin-left: 80%;
  display: inline-block;
  position: relative;
  width: 240px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  cursor: pointer;
  text-decoration: none;
  background-color:transparent; /* Invisible box */
  box-shadow: 0 20px 20px rgba(1, 1, 1, 0.3); /* Add shadow */
  border-radius: 0px; /* Optional: Adds rounded corners */
  transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

#logo-img {
 
  width: 600%;
  height: 140%;
  object-fit: contain;
}

/* Remove any outlines when the box is clicked */
.logo-box:focus,
.logo-box:hover {
  outline: none;
}


.company-name {
  font-weight: bold;
  font-size: 18px;
}

.tagline {
  font-size: 12px;
  color: #666;
}
.svg-bg{
  width: 100px;
  height: 100px;
  background-image: url('example.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

 
.nav {
  display: flex;
margin-left:21%  ;
align-items: center;
margin-left: 0;

}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
  
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 550;
}

.nav-links .dropdown {
  position: relative;
}

.nav-links .dropdown-menu {
  display: none;
  position: relative;
  top: 90%;
  left: 0;
  background-color: #fff;
  list-style: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
}

.nav-links .dropdown:hover .dropdown-menu {
  display: block;
}

.nav-links .dropdown-menu li {
  margin: 5px 0;
}

.nav-links .dropdown-menu a {
  color: #333;
  text-decoration: none;
}
.nav-links a:hover{
  
  color: red;
  box-shadow: 5px 1px rgba(237, 28, 36, 0.14);
 
}

.contact-button {
  background-color: rgba(237, 28, 36, 1);
  color: #fff;
  padding:10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  text-align: left;
 
}

.contact-button:hover {
  background-color: #cc0000;
}
.contact-container {
  margin-right: 10%;
  display: flex;
  align-items: center; /* Vertically align with other items in the header */
 
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background-color: #333;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
  }

  .nav.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

/* Second Section Styles */
.second-section {
  position: relative;
  margin-top:-7% ;
 
 
  width:97.4%;
  height: 80vh;
 
  background-image: url('power-plant-industrial-estate-twilight-natural-gas-combined-cycle-power-plant-turbine-generator-energy-power-plant-industrial-refinery-oil-gas-twilight-supply-electricity\ 1.png'); 
  box-sizing: border-box;
 
  
  background-position: center;
  background-repeat: no-repeat;
  background: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-section h1 {
  position: relative;
  z-index: 2; /* Ensure it's above the overlay */
  color: white; /* Ensure text color contrasts with the background */
}

.second-section::after {

  content: '';
  position: absolute;
  margin-top: 0%;
  left: 0;
  width: 112.5%;
  height: 63%;
  background: #24242EB2 70%; /* Overlay */
}


.second-section h1 {
  position: relative;
  
  text-transform: uppercase;
  /*text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6); /* Added text shadow to improve visibility */
}



@media (max-width: 768px) {
  .second-section h1 {
    font-size: 2rem;
  }
}

.hover-effect {
  transition: transform 0.3s ease, color 0.3s ease;
}

.second-section h1:hover {
  transform: scale(1.05);
  color: #f44336;
}
.hover-effect-two{
   border: 3px solid rgba(237, 28, 36, 1);
}
/* Third Section Styles */
#projects-stat{
  margin-top: -240px;
}
#about-logo{
  margin-top: -124px;
  margin-right: 0;
  font-weight: 700;
  font-size: 20px;
  color: rgba(237, 28, 36, 1);
 margin-left: 10px;
}
#about-heading{
  margin-left: 6px;
  font-size:35px ;
font-weight: 10px;
  margin-top: -10px;
  flex-wrap: wrap;
  color:  rgba(36, 36, 46, 1);}
#about-paragraph1{
  margin-right: 30%;
  color: rgba(36, 36, 46, 1);
  margin-left: -20px;
  font-size: 14px;
line-height: 1.6;
 }
 .line{
  margin-top: -600px;
  margin-left: -17px;
  width: 40rem;
 }
.about-text{
  margin-left:950px;
}

.third-section {
  font-family: Arial, sans-serif;
  
  color: rgba(36, 36, 46, 1);
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
margin-bottom: 80px;}

.ellipse-frame {
  width: 590px;
height: 660.47px;
margin-top: -160px;
margin-right: 300px;
gap: 0px;
opacity: 0px;

  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.about-text h2 {

  font-size: 1.5rem;
  color: rgba(36, 36, 46, 1);
}
.about-text h1 {
  font-size: 2rem;
  color: rgba(0, 0, 0, 1);
  text-align: left;

}
.about-text p {
  
  font-size: 1rem;
  color: #555;
  text-align: left;
 
}
#projects-stat{
  margin-left: -670px;
  width:140px;
  height: 130px;
 
}
#experience-stat{
  margin-left: -460px;
  width: 140px;
  margin-top: -203px;
  height: 150px;
}
#industries-stat{
  margin-left: -250px;
  width: 140px;
  margin-top: -200px;
  height: 149.3px;
}
.grpimg  {
margin-top: -90px;
margin-left: 0px;
margin-right: 1px;
}
.grpimg1  {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 10px;
  }
  .grpimg2 {
    margin-top: 0px;
    margin-left: 36px;
    margin-right: -50px;
    }
    .twelve{
       margin-top: 8px ;
       font-weight: 750;
       font-size: xx-large;
    }
    .forty{
     font-size: xx-large;
    }
    .three{
font-size: xx-large;
margin-top:8%;
    }
    #projects-description{
      text-align: end;
      font-size: medium ;
      font-size: 500;
    }
    #experience-description{
     text-align: end;
     font-size: medium ;
      font-size: 500;
    }
    #industries-description{
     text-align: end;
     font-size: medium ;
     
     

    }
.stat {
  flex: 1;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: #fff;}
.stat h3 {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 10px;
}
.stat p {
  font-size: 1rem;
  color: rgba(0, 0, 0, 1);
}
@media (max-width: 768px) {
  .third-section {
    flex-direction: column;
    text-align: center;
  }

  .ellipse-frame {
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
  }

  .about-text h1 {
    font-size: 1.5rem;
  }

  .stats {
    flex-direction: column;
  }
}





/* Fourth Section Styles */
#mission-section{
  height: 90vh;
}
#mission-title{
  margin-right:1000px;
  margin-left: -1350px;
  margin-top: -30px;
}
#mission-heading{
  margin-left: -1350px;
 
}
#mission-section{
  background-color: rgba(36, 36, 46, 1) ;
  width: 1665px;
}
#mission-paragraph1{
  margin-top: 0px;
  margin-left:-1350px ;
 font-size: 15px;
}
#mission-paragraph2{
margin-left: -1350px;
}
.missionpa{
  margin-top:110px ;
}
.line2{
  margin-top: -302px;
  margin-left: 300px;
}
.mission-section .container{
 color: #24242E;
}
.mission {
  max-width: 50%;
  margin-left: -100px;
 
}

.mission h1 {
  font-size: 2rem;
  margin: 10px 0;
}

.mission p {
  margin: 10px 0;
}


.mask-img{
  margin-left: 870px;
  margin-right:100px ;
  margin-top: -6800px;
height: 80vh;



  }
.vectorb{
margin-left: 50px;
margin-top: 90px;

}
.vectorb1{
  margin-top: -12000%;
  margin-left: 80px;
 
}
.vectorb2{
  margin-top: -166px;
  margin-bottom:70px;
  margin-left: 120px;
  margin-bottom: -3px;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .mission, .image {
    max-width: 100%;
  }

  .image img {
    margin-top: 20px;
  }
}

/* Fifth Section Styles */
.line6{
  margin-left: 900px;
  margin-top: -890px;
  margin-bottom: 240px;
}
 .vision-title{
  margin-left: 920px;
  color: rgba(237, 28, 36, 1);
  margin-top: -365px;
  font-weight: 700;
  font-size: 20px;
 }
 .vision-subtitle{
  color: rgba(36, 36, 46, 1);
  ;
  margin-left: 920px;
  font-size:31px ;
font-weight: 6px;
margin-top: -6px;
 }
 .vision-text{
  color:rgba(36, 36, 46, 1);
  margin-left: 900px;
 }
 .vision-text1{
  margin-top: 10px;
  color: rgba(36, 36, 46, 1);
  margin-left: 900px;}
  
 .vision-text2 {
  color: rgba(36, 36, 46, 1);
  margin-left: 900px;}
  .peru{
    margin-bottom: 23px;
  }
  .peru1{
    margin-bottom: 23px;
  }
  
  
.vision-image{
  width: 570px;
height: 485.78px;
top: 1982.22px;
left: 279px;
gap: 0px;
opacity: 0px;}

.vision-image img {
  margin-top: 20%;
  width: 570px;
height: 485.78px;
top: 1982.22px;
left: 2479px;
gap: 0px;
opacity: 0px;
margin-left: 300px;}

.text-overlay{
  font-style: normal;
 
 font-weight: 10%;
  font-size: 70%;
  width: 560px;
height: 485.78px;
top: 1982.22px;
left: 2479px;
gap: 0px;
opacity: 4px;
  color: rgba(255, 255, 255, 1);
  ;
  margin-top: -50%;
  margin-left: 56%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .vision-section {
      flex-direction: column;
      align-items: center;
  }

  .vision-content {
      text-align: center;
  }
}
#HISTORY{
  margin-left: 150PX;
  background-color: rgba(250, 250, 250, 1);
  color: #000000;
}
#CREDENTIALS{
  background-image: url(Rectangle\ 332.jpg);
 
}